.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  align-items: center;

  img {
    height: 20px;
  }
}

.button-header {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid hsl(322, 100%, 66%);
  background: none;
  color: hsl(322, 100%, 66%);
  cursor: pointer;
}
