$desktop: 1000px;

.container-section {
  padding: 0 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  Button {
    margin-top: 40px;
  }

  img {
    margin: 60px 0;
    width: 80%;
  }

  &--diferent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--reverse {
      background-color: hsl(207, 100%, 98%);
    }
  }

  &--final {
    margin: 100px;

    h1 {
      margin-bottom: 0;
    }
  }
}

.figures {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 80px;
  align-items: center;
  &__i {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    img {
      width: 35px;
    }
    &--span {
      display: flex;
      flex-direction: column;
      align-items: center;
      span:first-child {
        font-size: 80px;
        font-weight: 800;
      }
      span:last-child {
        color: hsl(192, 100%, 9%, 50%);
      }
    }
  }
}

.img-curve {
  img.img-top-m {
    position: relative;
    top: 5px;
    width: 100%;
  }

  img.img-top-d {
    display: none;
  }

  img.img-bottom-m {
    position: relative;
    width: 100%;
    top: 0;
  }

  img.img-bottom-d {
    display: none;
  }
}

@media (min-width: $desktop) {
  .container-section {
    &--text {
      max-width: 500px;
      text-align: left;
    }

    &--diferent {
      display: flex;
      flex-direction: row;
      img {
        width: 50%;
      }
      &--reverse {
        flex-direction: row-reverse;
      }
    }
    &--final {
      flex-direction: column;
    }
  }
  .figures {
    flex-direction: row;
    justify-content: space-around;
    &__i {
      img {
        margin-left: 0;
      }
    }
  }

  .img-curve {
    img.img-top-m {
      display: none;
    }

    img.img-top-d {
      display: inline;
      position: relative;
      top: 5px;
      width: 100%;
    }

    img.img-bottom-m {
      display: none;
    }

    img.img-bottom-d {
      display: inline;
      position: relative;
      top: 0;
      width: 100%;
    }
  }
}
